<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>binhtt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>binhtt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>binhtt.controllers.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>binhtt.controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>binhtt.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>binhtt.controllers.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>binhtt.controllers.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoleServlet</servlet-name>
        <servlet-class>binhtt.controllers.ChangeRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGroupController</servlet-name>
        <servlet-class>binhtt.controllers.SearchGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupDetailController</servlet-name>
        <servlet-class>binhtt.controllers.ViewGroupDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventController</servlet-name>
        <servlet-class>binhtt.controllers.SearchEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventController</servlet-name>
        <servlet-class>binhtt.controllers.CreateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventController</servlet-name>
        <servlet-class>binhtt.controllers.ViewEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventController</servlet-name>
        <servlet-class>binhtt.controllers.UpdateEventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/ChangeStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoleServlet</servlet-name>
        <url-pattern>/ChangeRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGroupController</servlet-name>
        <url-pattern>/SearchGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupDetailController</servlet-name>
        <url-pattern>/ViewGroupDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventController</servlet-name>
        <url-pattern>/SearchEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventController</servlet-name>
        <url-pattern>/CreateEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventController</servlet-name>
        <url-pattern>/ViewEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventController</servlet-name>
        <url-pattern>/UpdateEventController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
