<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>binhtt.filters.UTF8Filter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>binhtt.filters.AuthenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>binhtt.filters.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>binhtt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>binhtt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>binhtt.controllers.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>binhtt.controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>binhtt.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>binhtt.controllers.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>binhtt.controllers.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoleServlet</servlet-name>
        <servlet-class>binhtt.controllers.ChangeRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGroupController</servlet-name>
        <servlet-class>binhtt.controllers.SearchGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupDetailController</servlet-name>
        <servlet-class>binhtt.controllers.ViewGroupDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventController</servlet-name>
        <servlet-class>binhtt.controllers.SearchEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventController</servlet-name>
        <servlet-class>binhtt.controllers.CreateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventController</servlet-name>
        <servlet-class>binhtt.controllers.ViewEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventController</servlet-name>
        <servlet-class>binhtt.controllers.UpdateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupController</servlet-name>
        <servlet-class>binhtt.controllers.DeleteGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberController</servlet-name>
        <servlet-class>binhtt.controllers.AddMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToGroupCartController</servlet-name>
        <servlet-class>binhtt.controllers.AddToGroupCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromGroupCartController</servlet-name>
        <servlet-class>binhtt.controllers.RemoveFromGroupCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToGroupController</servlet-name>
        <servlet-class>binhtt.controllers.AddToGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromGroupController</servlet-name>
        <servlet-class>binhtt.controllers.RemoveFromGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupController</servlet-name>
        <servlet-class>binhtt.controllers.CreateGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToEventCartController</servlet-name>
        <servlet-class>binhtt.controllers.AddToEventCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromEventCartController</servlet-name>
        <servlet-class>binhtt.controllers.RemoveFromEventCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartController</servlet-name>
        <servlet-class>binhtt.controllers.StartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEventsController</servlet-name>
        <servlet-class>binhtt.controllers.RegisterEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryController</servlet-name>
        <servlet-class>binhtt.controllers.ViewHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentController</servlet-name>
        <servlet-class>binhtt.controllers.CreateCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateGuestController</servlet-name>
        <servlet-class>binhtt.controllers.AuthenticateGuestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceController</servlet-name>
        <servlet-class>binhtt.controllers.CheckAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAttendanceController</servlet-name>
        <servlet-class>binhtt.controllers.SaveAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNotificationController</servlet-name>
        <servlet-class>binhtt.controllers.SearchNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventByDateController</servlet-name>
        <servlet-class>binhtt.controllers.SearchEventByDateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryRegisterController</servlet-name>
        <servlet-class>binhtt.controllers.ViewHistoryRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>binhtt.controllers.DeleteCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/ChangeStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoleServlet</servlet-name>
        <url-pattern>/ChangeRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGroupController</servlet-name>
        <url-pattern>/SearchGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupDetailController</servlet-name>
        <url-pattern>/ViewGroupDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventController</servlet-name>
        <url-pattern>/SearchEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventController</servlet-name>
        <url-pattern>/CreateEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventController</servlet-name>
        <url-pattern>/ViewEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventController</servlet-name>
        <url-pattern>/UpdateEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupController</servlet-name>
        <url-pattern>/DeleteGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberController</servlet-name>
        <url-pattern>/AddMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToGroupCartController</servlet-name>
        <url-pattern>/AddToGroupCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromGroupCartController</servlet-name>
        <url-pattern>/RemoveFromGroupCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToGroupController</servlet-name>
        <url-pattern>/AddToGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromGroupController</servlet-name>
        <url-pattern>/RemoveFromGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupController</servlet-name>
        <url-pattern>/CreateGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToEventCartController</servlet-name>
        <url-pattern>/AddToEventCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromEventCartController</servlet-name>
        <url-pattern>/RemoveFromEventCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartController</servlet-name>
        <url-pattern>/StartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEventsController</servlet-name>
        <url-pattern>/RegisterEventsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryController</servlet-name>
        <url-pattern>/ViewHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentController</servlet-name>
        <url-pattern>/CreateCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateGuestController</servlet-name>
        <url-pattern>/AuthenticateGuestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceController</servlet-name>
        <url-pattern>/CheckAttendanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAttendanceController</servlet-name>
        <url-pattern>/SaveAttendanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNotificationController</servlet-name>
        <url-pattern>/SearchNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventByDateController</servlet-name>
        <url-pattern>/SearchEventByDateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryRegisterController</servlet-name>
        <url-pattern>/ViewHistoryRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
